# If you want to regularly import user data from S3
# please uncomment the lines below and adjust to your needs
# For more documentation hop over to https://cloud.google.com/appengine/docs/python/config/cron

# cron:
# - description: daily employee load
#   url: /tasks/employees/load/s3
#   schedule: every day 03:00
#   timezone: US/Pacific
#
# Uncomment the following section if you'd like your love_links automatically 
# cleaned up after they have been around for more than 30 days.
#
# cron:
# - description: old love links cleanup
#   url: /tasks/lovelinks/cleanup
#   schedule: every day 02:00
#   timezone: US/Pacific
