# If there are tools that a developer needs to work on your project.
# Unit testing tools, mocking frameworks, debuggers, proxies, ...
# These will be used for tox and other testing environments.
-r requirements.txt
Flask-WebTest==0.0.8
ipdb
mock==4.0.3
#NoseGAE==0.5.10
pre-commit
pyrsistent==0.16.1
pytest==8.1.2
