# If there are tools that a developer needs to work on your project.
# Unit testing tools, mocking frameworks, debuggers, proxies, ...
# These will be used for tox and other testing environments.
-r requirements.txt
Flask-WebTest==0.0.8
ipdb
mock==2.0.0
NoseGAE==0.5.10
pre-commit==0.13.3
pyrsistent==0.16.1
