# If there are tools that a developer needs to work on your project.
# Unit testing tools, mocking frameworks, debuggers, proxies, ...
# These will be used for tox and other testing environments.
-r requirements.txt
Flask-WebTest==0.1.4
ipdb
mock==4.0.3
pre-commit
pytest==8.1.2
tox==4.15.0
