appengine-python-standard>=1.0.0
# This requirements file lists all dependecies for this project.
# Run 'make lib' to install these dependencies in this project's lib directory.
boto
Flask
Flask-Themes2
ipdb
itsdangerous
Jinja2
MarkupSafe
pytz
pyyaml
urllib3
Werkzeug
wheel
