[
    {
        "username": "john",
        "first_name": "John",
        "last_name": "Doe",
        "department": "",
        "photo_url": "https://placehold.it/100x100"
    },
    {
        "username": "janet",
        "first_name": "Janet",
        "last_name": "Doe",
        "department": "",
        "photo_url": "https://placehold.it/100x100"
    }
]
