{% extends theme("layout.html") %}

{% import theme("parts/grouped_love_message.html") as grouped_love_message %} "
{% import theme("parts/photobox.html") as photobox %}
{% import theme("parts/flash.html") as flash %}

{% block title %}Explore{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6">
    <h1>Explore the lovin'</h1>
    <form class="form-explore form-inline" role="form" action="" id="explore-love-form">
      {{ flash.display_flash_messages() }}
      <div class="form-group">
        <label for="explore-username" class="sr-only control-label">Username</label>
        <input type="text" class="form-control" id="explore-username" name="user"  placeholder="hammy" autocorrect="off" autocapitalize="off" value="{{ user.username }}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Explore</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    {% if user %}
      <div class="explore-user">
        {{ photobox.user_icon(user) }}
        <h1>{{ user.full_name }}</h1>
        <p>{{ user.department }}</p>
      </div>
    {% endif %}
  </div>
</div>

{% if user %}
<div class="row" id="explore-messages">
  <div class="col-md-6">
    <h1>Love Sent</h1>
    {% if grouped_sent_loves %}
      <div class="content-container">
        {% for grouped_love in grouped_sent_loves %}
        {{ grouped_love_message.love(
          "To",
          current_user,
          grouped_love.senders,
          grouped_love.recipients,
          grouped_love.content,
          grouped_love.most_recent_love_timestamp,
          grouped_love.is_secret,
          grouped_love.emote
        )}}
      {% endfor %}
      </div>
    {% else %}
      <div class="well">
        Oh no! {{ user.username }} hasn't sent any love yet.
      </div>
    {% endif %}
  </div>
  <div class="col-md-6">
    <h1>Love Received</h1>
    {% if grouped_received_loves %}
      <div class="content-container">
        {% for grouped_love in grouped_received_loves %}
          {{ grouped_love_message.love(
            "From",
            current_user,
            grouped_love.senders,
            grouped_love.recipients,
            grouped_love.content,
            grouped_love.most_recent_love_timestamp,
            grouped_love.is_secret,
            grouped_love.emote
          )}}
        {% endfor %}
      </div>
    {% else %}
      <div class="well">
        Oh no! {{ user.username }} hasn't received any love yet.<br>
        <a href="/?recipients={{ user.username }}">Hook them up.</a>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#nav-explore').addClass('active');
      $('input[name="user"]').focus();
      $('#explore-username').autocomplete({
        source: '/user/autocomplete',
        minLength: 2,
        delay: 200,
        select: function(event, ui) {
          $('#explore-username').val(ui.item.value);
          $('#explore-username').closest('form').submit();
        }
      });
    });
  </script>
{% endblock %}
