{% extends theme("layout.html") %}

{% import theme("parts/grouped_love_message.html") as grouped_love_message %}

{% block title %}My Love{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6">
    <h1>Love Received</h1>
    {% if grouped_received_loves %}
      <div class="content-container">
        {% for grouped_love in grouped_received_loves %}
        {{ grouped_love_message.love(
          "From",
          current_user,
          grouped_love.senders,
          grouped_love.recipients,
          grouped_love.content,
          grouped_love.most_recent_love_timestamp,
          grouped_love.is_secret,
          grouped_love.emote
        )}}
      {% endfor %}
      </div>
    {% else %}
      <div class="well">
        Oh no! You haven't received any love yet!<br>
        <a href="/">Give and ye shall receive!</a>
      </div>
    {% endif %}
  </div>

  <div class="col-md-6">
    <h1>Love Sent</h1>
    {% if grouped_sent_loves %}
      <div class="content-container">
        {% for grouped_love in grouped_sent_loves %}
          {{ grouped_love_message.love(
            "To",
            current_user,
            grouped_love.senders,
            grouped_love.recipients,
            grouped_love.content,
            grouped_love.most_recent_love_timestamp,
            grouped_love.is_secret,
            grouped_love.emote
          )}}
        {% endfor %}
      </div>
    {% else %}
      <div class="well">
        Oh no! You haven't sent any love yet. <a href="/">Get on it!</a>
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="pagination" style="margin-top:2em;text-align:center;">
    {# Left Arrow #}
    {% if page > 1 %}
      <a href="?page={{ page-1 }}{% if page_size is defined %}&page_size={{ page_size }}{% endif %}">&lsaquo;</a>
    {% else %}
      <span class="disabled">&lsaquo;</span>
    {% endif %}

    {# All page numbers #}
    {% for p in range(1, total_pages + 1) %}
      {% if p == page %}
        <span class="active">{{ p }}</span>
      {% else %}
        <a href="?page={{ p }}{% if page_size is defined %}&page_size={{ page_size }}{% endif %}">{{ p }}</a>
      {% endif %}
    {% endfor %}

    {# Right Arrow #}
    {% if page < total_pages %}
      <a href="?page={{ page+1 }}{% if page_size is defined %}&page_size={{ page_size }}{% endif %}">&rsaquo;</a>
    {% else %}
      <span class="disabled">&rsaquo;</span>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $('#nav-me').addClass('active');
  </script>
{% endblock %}
