{% import theme("parts/avatar.html") as avatar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0;padding: 0;">
<head style="margin: 0;padding: 0;">
<!-- If you delete this meta tag, the ground will open and swallow you. -->
<meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;">

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%;">

<!-- HEADER -->
<table class="head-wrap" bgcolor="red" style="margin: 0;padding: 0;width: 100%;background: url({{ config.APP_BASE_URL }}_themes/default/img/star_header_bg.png) no-repeat center,linear-gradient(#c41200, #af0606);margin-bottom: 10px;">
  <tr style="margin: 0;padding: 0;">
    <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;"></td>
    <td class="header container" align="" style="margin: 0 auto;padding: 0;font-family: Arial, sans-serif;color: #333;display: block;max-width: 600px;clear: both;">

      <!-- /content -->
      <div class="content" style="margin: 0 auto;padding: 5px 15px;max-width: 600px;display: block;">
        <table style="margin: 0;padding: 0;width: 100%;">
          <tr style="margin: 0;padding: 0;">
            <td align="center" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333; text-align: center;">
              <a href="{{ config.APP_BASE_URL }}">
                <img src="{{ config.APP_BASE_URL }}_themes/default/img/logo.png" alt="Yelp Love"  style="margin: 0;padding: 0;max-width: 100%;width: 95px; height: 48px;" />
              </a>
            </td>
          </tr>
        </table>
      </div><!-- /content -->

    </td>
    <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;"></td>
  </tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="" style="margin: 0;padding: 0;width: 100%;">
  <tr style="margin: 0;padding: 0;">
    <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;"></td>
    <td class="container" align="" bgcolor="#FFFFFF" style="margin: 0 auto;padding: 0;font-family: Arial, sans-serif;color: #333;display: block;max-width: 600px;clear: both;">

      <!-- content -->
      <div class="content" style="margin: 0 auto;padding: 5px 15px;max-width: 600px;display: block;"><table bgcolor="" style="margin: 0;padding: 0;width: 100%;">
        <tr style="margin: 0;padding: 0;">
          <td class="photo" width="20%" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;text-align: right;vertical-align: top;padding-right: 10px;"><img src="{{ avatar.avatar_url_for(sender) }}" style="margin: 0;padding: 0;max-width: 100%;"></td>
          <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;">
            <h4 style="margin: 0;padding: 0;font-family: Arial, sans-serif;line-height: 1.1;color: #000;font-weight: 900;font-size: 26px;"><a href="{{ config.APP_BASE_URL }}explore?user={{ sender.username }}" style="margin: 0;padding: 0;color: #3b65a7;">{{ sender.full_name }}</a></h4>
            <h5 style="margin: 0;padding: 0;font-family: Arial, sans-serif;line-height: 1.1;color: #555;font-weight: normal;font-size: 16px;margin-top: 2px;">{{ sender.department }}</h5>
            <p class="love" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;margin-bottom: 10px;font-weight: normal;font-size: 20px;line-height: 1.4;margin-top: 6px;">{{ love.message|linkify_company_values }}</p>
            {% if love.secret %}
              <p><span style="font-family: Arial, sans-serif; padding: 6px 12px;font-size: 12px;font-weight: 700;color: #fff;white-space: nowrap;text-align: center;background-color: #bbb;border-radius: 12px;">Shh... sent secretly!</span></p>
            {% endif %}
            <a class="btn" style="margin: 0;padding: 3px 16px;color: #fff;background: linear-gradient(#ea050b, #c41200);text-shadow: 0 -1px 1px #b80806;border: 1px solid #a50508;display: inline-block;vertical-align: middle;border-radius: 4px;font-size: 12px;font-weight: bold;line-height: 20px;text-align: center;cursor: pointer;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1),inset 0 1px 0 rgba(255,255,255,0.5);box-shadow: 0 1px 1px rgba(0,0,0,0.1),inset 0 1px 0 rgba(255,255,255,0.5);text-decoration: none;" href="{{ config.APP_BASE_URL }}?recipients={{ sender.username }}">Send Love Back</a>
          </td>
        </tr>
      </table></div><!-- /content -->

      <div class="content" style="margin: 0 auto;padding: 5px 15px;max-width: 600px;display: block;"><table class="divider" bgcolor="" style="margin: 0;padding: 0;border-bottom: 1px solid #e5e5e1;margin-top: 30px;width: 100%;">
        <tr style="margin: 0;padding: 0;">
          <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #555;font-weight: bold;font-size: 16px;">Your Recent Love</td>
        </tr>
      </table></div>

      {% for l, lover in recent_love_and_lovers %}

        <!-- content -->
        <div class="content" style="margin: 0 auto;padding: 5px 15px;max-width: 600px;display: block;"><table class="past" bgcolor="" style="margin: 0;padding: 0;width: 100%;">
          <tr style="margin: 0;padding: 0;">
            <td class="photo" width="20%" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;text-align: right;vertical-align: top;padding-right: 10px;"><img src="{{ avatar.avatar_url_for(lover) }}" style="margin: 0;padding: 0;max-width: 100%;width: 60%;"></td>
            <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;">
              <h4 style="margin: 0;padding: 0;font-family: Arial, sans-serif;line-height: 1.1;color: #000;font-weight: 900;font-size: 16px;"><a href="{{ config.APP_BASE_URL }}explore?user={{ lover.username }}" style="margin: 0;padding: 0;color: #3b65a7;">{{ lover.full_name }}</a></h4>
              <h5 style="margin: 0;padding: 0;font-family: Arial, sans-serif;line-height: 1.1;color: #555;font-weight: normal;font-size: 14px;margin-top: 2px;">{{ lover.department }}</h5>
              <p class="love" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.4;margin-top: 6px;">{{ l.message }}</p>
              <p class="timestamp" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #999;margin-bottom: 10px;font-weight: normal;font-size: 12px;line-height: 1.4;margin-top: -4px;">{{ l.timestamp.strftime('%d %b %Y') }}</p>
            </td>
          </tr>
        </table></div><!-- /content -->

      {% endfor %}

    </td>
    <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;"></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" style="margin: 0;padding: 0;width: 100%;clear: both;">
  <tr style="margin: 0;padding: 0;">
    <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;"></td>
    <td class="container" style="margin: 0 auto;padding: 0;font-family: Arial, sans-serif;color: #333;display: block;max-width: 600px;clear: both;">

        <!-- content -->
        <div class="content" style="margin: 0 auto;padding: 5px 15px;max-width: 600px;display: block;">
          <table style="margin: 0;padding: 0;width: 100%;margin-top: 20px;border-top: 1px solid #e5e5e1;padding-top: 15px;">
            <tr style="margin: 0;padding: 0;">
              <td align="center" style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;">
                <p style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.4;">
                  Send your lovin' from <a href="{{ config.APP_BASE_URL }}" style="margin: 0;padding: 0;color: #3b65a7;">{{ config.APP_NAME }}</a>
                </p>
              </td>
            </tr>
          </table>
        </div><!-- /content -->

    </td>
    <td style="margin: 0;padding: 0;font-family: Arial, sans-serif;color: #333;"></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>
