{% extends theme("layout.html") %}

{% block title %}Send Love{% endblock %}

{% block body %}
    {% include theme("love_form.html") %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#nav-send').addClass('active');
      $('#secret-love-label').tooltip();
      $('input[name="recipients"]').focus();
      if ($('input[name="recipients"]').val() != '') {
        var messageText = $('textarea[name="message"]').val();
        $('textarea[name="message"]').focus().val('').val(messageText);
      }
      $('#love-error').hide();
        // code heavily sampled from http://jqueryui.com/autocomplete/#multiple-remote
      $('textarea[name="message"]')
            .bind('keydown', function(event) {
		if (event.keyCode === $.ui.keyCode.TAB &&
		    $(this).data("ui-autocomplete").menu.active) {
		    event.preventDefault();
		}
            })
	    .autocomplete({
		source: function(request, response) {
		    $.getJSON('/values/autocomplete', {
			term: request.term.split(/\s/).pop()
		    }, response);
		},
		search: function() {
		    var term = this.value.split(/\s/).pop();
		    if ( !term.startsWith("#")) {
			return false;
		    }
		    return term;
		},
		focus: function() {return false;},
		select: function(event, ui) {
		    var terms = this.value.split(/\s/);
		    terms.pop();
		    terms.push(ui.item.value + " ");
		    this.value = terms.join(" ");
		    return false;
		},
		minLength: 1,
		delay: 5,
		autoFocus: true
	  });

      $('input[name="recipients"]')
        // don't navigate away from the field on tab when selecting an item
        .bind('keydown', function(event) {
          if (event.keyCode === $.ui.keyCode.TAB &&
              $(this).autocomplete().menu.active) {
            event.preventDefault();
          }
        })
        .autocomplete({
          source: function(request, response) {
            $.getJSON('/user/autocomplete', {
              term: extractLast(request.term)
            }, response);
          },
          search: function() {
            // set minLength before attempting autocomplete
            var term = extractLast(this.value);
            if (term.length < 2) {
              return false;
            }
          },
          focus: function() {
            return false;
          },
          select: function(event, ui) {
            var terms = split( this.value );
            // remove the current input
            terms.pop();
            // add the selected item
            terms.push( ui.item.value );
            // add placeholder to get the comma-and-space at the end
            terms.push('');
            this.value = terms.join(', ');
            return false;
          },

        }).data('ui-autocomplete')._renderItem = function( ul, item ) {
          return $( "<li>" )
              .attr('class', 'ui-menu-item avatar-autocomplete')
              .attr('role', 'presentation')
              .attr( "data-value", item.value )
              .append(
                  $("<a>")
                      .attr('class','ui-corner-all')
                      .attr('tabindex', '-1')
                      .append(
                          '<img class="img-circle avatar-autocomplete-img" height="25"' +
                          ' src="'+(item.avatar_url || '/_themes/default/img/user_medium_square.png')
                          +'"><span style="vertical-align:middle">'
                          + item.label
                          + '</span>')
              )
            .appendTo( ul );
        }

      function split( val ) {
        return val.split( /,\s*/ );
      }
      function extractLast( term ) {
        return split(term).pop();
      }
      var loveLinkBlock = $('.love-link-block');
      if (loveLinkBlock.length) {
          $('.create-link-btn').hide();
          hideLoveLinkBlockOnInputChange(loveLinkBlock);
          setCopyToClipboardBtnAction();
      }

      function hideLoveLinkBlockOnInputChange(loveLinkBlock) {
          $('input[name="recipients"], textarea[name="message"]').change(function () {
              $('input[name="recipients"], textarea[name="message"]').off('change');
              loveLinkBlock.hide();
              $('.create-link-btn').show();
          });
      }

      function setCopyToClipboardBtnAction() {
          var copyBtn = document.querySelector('.copybtn');
          copyBtn.addEventListener('click', function () {
              window.getSelection().removeAllRanges();
              var linkText = document.querySelector('.love-link');
              var range = document.createRange();
              range.selectNode(linkText);
              window.getSelection().addRange(range);
              document.execCommand('copy');
              window.getSelection().removeAllRanges();
          });
      }
    });
  </script>
{% endblock %}
